In [22]:
# Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [23]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\pmw233\.wdm\drivers\chromedriver\win32\94.0.4606.41\chromedriver.exe] found in cache

### Mars News

In [24]:
# Scrape the Mars News Site
url_news = 'https://redplanetscience.com/'
browser.visit(url_news)

In [25]:
html_news = browser.html
soup = BeautifulSoup(html_news, 'html.parser')

In [26]:
# Collect latest news title and paragraph text
title = soup.find_all('div',class_='content_title')
paragraph = soup.find_all('div',class_='article_teaser_body')

news_title = title[0].text
paragraph_sum = paragraph[0].text

print(news_title)
print(paragraph_sum)

NASA Invites Students to Name Mars 2020 Rover
Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

### Featured Image

In [27]:
# visit URL for featured space image site. 
# Use splinter to navigate the site and find the image url for the current Featured Mars Image 
# assign the url string to a variable called featured_image_url
url_image = 'https://spaceimages-mars.com/'
browser.visit(url_image)

In [28]:
html_image = browser.html
img_soup = BeautifulSoup(html_image, 'html.parser')

In [29]:
# retrieve element that contains image information
featured_image = img_soup.find('div',class_='floating_text_area')
featured_image

<div class="floating_text_area">
<h2 class="brand_title">FEATURED IMAGE</h2>
<h1 class="media_feature_title">Dusty Space Cloud</h1>
<br/>
<a class="showimg fancybox-thumbs" href="image/featured/mars3.jpg" target="_blank"> <button class="btn btn-outline-light"> FULL IMAGE</button></a>
</div>

In [30]:
featured_image = img_soup.find('a',class_='showimg fancybox-thumbs').get("href")
    
image_url = url_image + featured_image
image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

### Mars Facts

In [31]:
# use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc
# use Pandas to convert the data to a HTML table string
mars_table = pd.read_html('https://galaxyfacts-mars.com/')
mars_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [32]:
mars_df = mars_table[1]
mars_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [33]:
mars_df.columns = ['description', 'value']
# df.set_index('description', inplace=True)
mars_df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [34]:
# Save html code
mars_facts = mars_df.to_html(index=False)
mars_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>description</th>\n      <th>value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [35]:
# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name.
# Use a Python dictionary to store the data using the keys img_url and title.
# Append the dictionary to store the data using the keys img_url and title
# Append the dictionary with the image url string and hemisphere title to a list
url_hemisphere = 'https://marshemispheres.com/'
browser.visit(url_hemisphere)

In [36]:
hemisphere_image_urls = []

for i in range(4):
    hemisphere = {}
    browser.find_by_css("a.product-item h3")[i].click()
#     time.sleep(1)
    html_hemisphere = browser.html
    hemi_soup = BeautifulSoup(html_hemisphere, "html.parser")
    hemisphere['img_url'] = hemi_soup.find("a", text="Sample").get("href")
    hemisphere['title'] = hemi_soup.find("h2", class_="title").get_text()
    hemisphere_image_urls.append(hemisphere)
    browser.back()
    
hemisphere_image_urls

[{'img_url': 'images/full.jpg', 'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [37]:
browser.quit()